<html>
    <head>
        <title>Django Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django blog</a></h1>
        </div>
        {% for post in posts %}
        <div>
            <p>created : {{ post.created_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text |linebreaksbr  }}</p>
        </div>
        {% endfor %}
        <div>
            <h3><a href="">Üçüncü Başlık</a> </h3>
            
        </div>
    </body>
</html> 